{% extends 'layouts/basic.twig' %}

{% block content %}
  <section>
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-6">
          <h1 class="display-4">
            Language begins a new story...
          </h1>

          <p class="lead py-2">
            Aenean ultrices, nulla a dignissim tincidunt, neque turpis aliquam
            nulla, mattis commodo quam libero non arcu.dd
          </p>

          <div class="mb-8 mb-md-0">
            <a class="btn btn-lg btn-secondary mr-3" href="#!">How it works</a>
            <a class="btn btn-lg btn-primary" href="#!">Explore Library</a>
          </div>
        </div>
        <div class="col-6">
          <img class="w-100" src="assets/reading-a-book-Two Color.svg" />
        </div>
      </div>
    </div>
  </section>
{% endblock %}
