{% extends 'layouts/basic.twig' %}

{% block content %}
  <section>
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col">
          <h1>
            Story single
          </h1>
          {{ dump() }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
