<header class="  mb-4 ">
<div class=" container border-bottom py-2">
  <div class="row">
    <div class="col-md-4 d-flex">
      <ul class="nav d-flex align-items-center">
        <li>
          <a
            class="nav-link px-2 link-dark"
            href="/"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="nav-link px-2 link-dark"
            href="/library"
          >
            Library
          </a>
        </li>
        <li>
          <a
            class="nav-link px-2 link-dark"
            href="/contact"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <a
        href="/"
        class="d-flex align-items-center text-decoration-none text-nowrap display-1"
        style="font-size: 32px"
      >
        Lang Stories
      </a>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-outline-primary mr-2">
        Login
      </button>
      <button type="button" class="btn btn-primary">
        Sign-up
      </button>
    </div>
  </div>
</div>