<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <title>LangStories</title>

    <link rel="stylesheet" href="/assets/compiled.css">
  </head>
  <body>
    {% include "partials/header.twig" %}
    {% block content %}
        Nothing to see here.
    {% endblock %}
  </body>
</html>